:root {

    /* Heatmap Colors*/
    --no-entry : #f0ebeb;
    --very-short-entry: #e99b9b;
    --short-entry: #c44040;
    --longer-entry: #a13030;
    --very-long-entry: #6e2121;
    
}

h3 {
    
    text-align: center;

}

table {

    table-layout: fixed;
    width: 84%;
    min-width: 280px;
    max-width: 21rem;
    overflow: auto;
    margin: 0 auto;
    border: none;
    border-collapse: separate;

}

tbody {

    white-space: nowrap;

}

td, th {

    text-align: center;
    height: 2.7rem;
    border: none;
    border-radius: 5px;
    
}

tr, tr:nth-child(even) {

    background-color: transparent;

}

.no-entry {

    background-color: var(--no-entry);
    color: var(--book-txt-color);

}

.very-short-entry {

    background-color: var(--very-short-entry);
    
}

.short-entry {

    background-color: var(--short-entry);
    
}

.longer-entry {

    background-color: var(--longer-entry);
    
}

.very-long-entry {

    background-color: var(--very-long-entry);
    
}

.legend {

    margin-top: 4rem;
    font-size: 0.8rem;
    
}

.legend td:nth-child(1),
.legend td:nth-child(7) {

    width: 20%;

}

.legend td {
    
    height: 1rem;

}

.calendar a,
.calendar a:visited {

    color: var(--book-bkg-color);
    text-decoration: none;

}

.calendar a:hover,
.calendar a:active,
.calendar a:focus {

    text-decoration: underline;
    background-color: transparent;
}
#epilogue {

    margin: 4rem 0;
    
}

#epilogue a,
#epilogue a:visited {

    background-color: var(--short-entry);
    text-decoration: none;
    color: var(--book-bkg-color);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;

}

#epilogue a:hover,
#epilogue a:active,
#epilogue a:focus {

    text-decoration: underline;
    
}

details {

    background-color: transparent;
    color: var(--txt-color);
    margin-bottom: 1rem;
    padding: 0 15px;

}

summary {

    cursor: pointer;
    padding: 0.7rem 0.2rem;
    word-break: break-all;
    font-weight: 700;
    text-align: center;

}

details[open] > summary + * {

    margin-top: 0;

}

details[open] > summary {

    margin-bottom: 0.5rem;

}

details[open] > *:last-child {

    margin-bottom: 0.5rem;

}

li {
    
    line-height: 1.8rem;

}