nav {

    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    position: sticky;
    top: 0px;
    background-color: var(--bkg-color);

}

nav a,
nav a:visited {

    margin: 0 0.5rem 0 0.5rem;
    border-radius: 3px;
    color: var(--txt-color);
    display: inline-block;
    padding: 0.1rem 0.5rem;
    text-decoration: none;
    text-transform: none;

}

nav a:hover,
nav a:active,
nav a:focus {

    background-color: var(--accent-color);
    color: var(--bkg-color);
    cursor: pointer;

}

p.letter {

    text-align: right;

}