/****** Fonts ******/

@font-face {

    font-family: "areminiscentsmile";
    src: url("fonts/areminiscentsmile-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "areminiscentsmile";
    src: url(fonts/areminiscentsmile-regularoblique-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: oblique;
}

@font-face {

    font-family: "Suit";
    src: url("fonts/SUIT-Variable.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;

}

@font-face {

    font-family: "Newsreader";
    src: url("fonts/Newsreader[opsz\,wght].woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-optical-sizing: auto;

}

@font-face {

    font-family: "Newsreader";
    src: url("fonts/Newsreader-Italic[opsz\,wght].woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: italic;
    font-optical-sizing: auto;

}

/****** Variables ******/

:root {

    --sans-serif-font: Suit, Roboto, Helvetica, sans-serif;
    --serif-font: areminiscentsmile, Georgia, serif;
    --book-font: Newsreader, Times, serif;

    --bkg-color: #ecdddd;
    --txt-color: #1d1d1d;
    --accent-color: #c50000;
    --disabled: rgba(255, 247, 247, 0.6);

    --book-bkg-color: rgba(255, 247, 247, 0.95);
    --book-txt-color: #1d1d1d;

}

@media (prefers-color-scheme: dark) {

    :root {

        --bkg-color: #211212;
        --txt-color: #fff7f7;
        --accent-color: #ff1212;
        --disabled: rgba(29, 29, 29, 0.6);

        --book-bkg-color: rgba(255, 247, 247, 0.95);
        --book-txt-color: #1d1d1d;

    }

}

/****** Reset default appearance ******/

*, *::before, *::after {

    box-sizing: border-box;

}

/****** Body Style ******/

html {

    font-family: var(--sans-serif-font);
    font-size: 16px;

    background-color: var(--bkg-color);
    color: var(--txt-color);

    scroll-behavior: smooth;

}

body {

    font-size: 1.25rem;
    line-height: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: min(45rem, 90%);

}

body > header {

    text-align: center;
    padding: 0 0.5rem 0.5rem 0.5rem;

    max-width: 1200px;
    margin: 0.5rem auto;
    
}

main {

    padding-top: 1.5rem;

}

body > footer {

    margin-top: 4rem;
    padding: 1rem;

    font-size: 0.9rem;
    text-align: center;

}

h1 {

    font-family: var(--serif-font);
    font-size: 3rem;
}

h2 {

    font-size: 2.6rem;
    margin-top: 3rem;
    text-align: center;

}

h3 {

    font-size: 2rem;
    margin-top: 3rem;
}

h4 {

    font-size: 1.6rem;

}

p {

    margin: 1.5rem 0;
    line-height: 1.2;

}

li {

    line-height: 1.2;

}

h1, h2, h3, h4, p {

    overflow-wrap: break-word;
    
}

a,
a:visited {

    color: var(--accent-color);
    border-radius: 3px;

}

a:hover,
a:active,
a:focus {

    text-decoration: none;

}

main a:hover,
main a:active,
main a:focus{

    background-color: var(--accent-color);
    color: var(--bkg-color);

}
 
.button,
a.button {

    border: none;
    border-radius: 3px;
    background-color: var(--accent-color);
    color: var(--book-bkg-color);
    padding: 0.5rem 0.9rem;
    text-decoration: none;
    line-height: 1;
    
}

.button.disabled {

    background-color: var(--disabled);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.button:hover {

    filter: brightness(1.4);
    cursor: pointer;

}

.button:focus {

    outline: 2px solid var(--book-bkg-color);
    outline-offset: 2px;

}

/* Navigation */

header > h1 a {

    text-decoration: none;

}

nav {

    font-size: 1.2rem;
    line-height: 2;
    padding: 0.5rem 0 0.5rem 0;

}

footer > nav {

    font-size: 0.9rem;
    min-width: 10rem;

}

nav ul {

    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {

    display: inline-block;

}

nav a,
nav a:visited {

    margin: 0 0.5rem 0 0.5rem;
    border-radius: 3px;
    color: var(--txt-color);
    display: inline-block;
    padding: 0.1rem 0.5rem;
    text-decoration: none;
    text-transform: lowercase;

}

nav a:hover,
nav a:active,
nav a:focus {

    background-color: var(--accent-color);
    color: var(--bkg-color);
    cursor: pointer;

}

/* Other Styling */

aside, details {

    background-color: var(--book-bkg-color);
    color: var(--book-txt-color);
    margin-bottom: 1rem;
    padding: 0 15px;

}

article {

    border: 1px solid var(--accent-color);
    border-radius: 3px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    font-family: var(--book-font);
    background-color: var(--book-bkg-color);
    color: var(--book-txt-color);
    text-align: justify;

}

article p {

    line-height: 1.4;

}

summary {

    cursor: pointer;
    padding: 0.7rem 0.2rem;
    word-break: break-all;

}

details[open] > summary + * {

    margin-top: 0;

}

details[open] > summary {

    margin-bottom: 0.5rem;

}

details[open] > *:last-child {

    margin-bottom: 0;

}

hr {

    border: none;
    height: 2px;
    width: 40%;
    background: var(--accent-color);
    margin: 1rem auto;

}

img, video {

    max-width: 100%;
    height: auto;
    border-radius: 3px;

}

blockquote {

    margin-inline-start: 2rem;
    margin-inline-end: 0;
    margin-block: 2rem;
    padding: 0.4rem 1rem;
    border-inline-start: 0.15rem solid var(--accent-color);

}

cite {

    font-family: var(--book-font);
    font-style: italic;

}

sup, sub {

    vertical-align: baseline;
    position: relative;

}

sup {

    top: -0.3rem;

}

sub {

    top: 0.3rem;

}

*::selection {

    background-color: var(--accent-color);   
    color: var(--bkg-color);

}

/****** Tables ******/

table {

    border-collapse: collapse;
    margin: 1.5rem 0;

}

td, th {

    border: 1px solid var(--accent-color);
    text-align: start;
    padding: 0.5rem;

}

th {

    background-color: var(--disabled);
    font-weight: 700;

}

tr:nth-child(even) {

    background-color: var(--disabled);

}

table caption {

    font-weight: 700;
    margin-bottom: 0.5rem;

}